
<div class="card">
    @PlotPoint.Description
    
</div>

@code {
    [Parameter]
    [EditorRequired]
    public PlotPoint PlotPoint { get; set; }
    
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}