bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/
/.vs/StoryPlanner
/WindowedStoryPlanner/Properties/PublishProfiles
/codebase_dump.txt
/WindowedStoryPlanner/WindowedStoryPlanner.csproj.user
/identifier.sqlite
/StoryPlanner.sln.DotSettings.user
/.vs/
