@page "/"

@inject StoryStateService StoryStateService
<div class="row">
    @foreach (Chapter chapter in StoryStateService.Chapters)
    {
        <div class="col-4">
            <ChapterCard ChapterId="chapter.Id"></ChapterCard>
        </div>
    }
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await StoryStateService.LoadProjectAsync();
    }
}
